/* =================================
  Base Element Styles
==================================== */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Lato", sans-serif;
}

body {
  font: 1em/1.5;
  color: #1c81d1;
  background: #fff;
}

header {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);*/
  margin: 0;
}

a {
  text-decoration: none;
}

/* =================================
  Form Element Styles
==================================== */

form {
  padding: 0.875em 1.875em 1.875em;
  background: #efefef;
  border-radius: 6px;
}

fieldset,
legend,
button {
  padding: 0;
  border: none;
}

fieldset {
  margin-top: 1.5em;
}

legend,
button {
  font-size: 1.25em;
}

legend {
  font-weight: 700;
  padding-top: 0.5em;
  /*border-top: 2px solid #679cb3;*/
  margin-bottom: 1.125em;
  background: transparent;
}

input[type="text"],
input[type="email"],
legend {
  width: 100%;
  border: none;
}

input[type="text"],
input[type="email"] {
  background: #e1dfdf;
}

label {
  color: #252525;
  display: block;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.not-bold {
  font-weight: 400;
}

input,
select {
  margin-bottom: 1.125em;
}

input {
  font-size: 1em;
  font-weight: 500;
  padding: 0.8em;
  outline: none;
  border-radius: 4px;
}

input:focus {
  background: #fff;
  border-color: #ececec;
  transition: border-color 0.4s, background-color 0.4s;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

button {
  color: #fff;
  padding: 0.55em 1.25em;
  background: #2196f3;
  margin: 1.25em 0 0.5em;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #1c81d1;
}

.select-css {
  display: block;
  cursor: pointer;
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: 1em 2.4em 0.9em 1.2em;
  /*width: 100%;
	max-width: 100%;*/
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%235f5f5f%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 50%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #999999;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.extra-margin-exp {
  margin-top: 20px;
}

/* Customize the label (the container) */
.container-cm {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-cm input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #e1dfdf;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container-cm:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-cm input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-cm input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-cm .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* =================================
  Page Styles
==================================== */

.container {
  margin: auto;
  max-width: 680px;
}

.shirt div {
  float: left;
  margin-right: 0.85em;
}

.interests input {
  margin-bottom: 0;
}

.credit-card {
  margin-top: 1.25em;
}

/* =================================
Error Msg Styles
==================================== */

.errorMsg {
  color: red;
  margin-top: 0;
  margin-bottom: 20px;
}

/* =================================
  Helper Classes
==================================== */

.is-hidden {
  display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 584px) {
  header {
    padding: 2em 0;
  }
  button {
    width: 100%;
  }
  .extra-margin {
    margin-top: 20px;
  }
}

@media (min-width: 680px) {
  header {
    padding: 4.65em 0 2.5em;
  }
  .col {
    float: left;
  }
  .col + .col {
    margin-left: 2.5%;
  }
  .col-3 {
    width: 23%;
  }
  .col-6 {
    width: 49%;
  }
}
